@media (min-width: 1200px) and (max-width: 1399.98px) {
  html {
    transform: scale(0.85);
    transform-origin: top center;
    width: 117.65%; 
    margin-left: -8.825%;
    overflow-x: hidden;
  }
}